<!DOCTYPE html>
<html>
<head>
    <title>DineDynamo &bull; Signup</title>
</head>
<body>
<form action="/api/v1/createUser" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="rollNumber">Roll Number:</label>
    <input type="text" id="rollNumber" name="rollNumber" required><br><br>
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" required><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
